.videos { 
    flex: 0.8;
    height: 100vh;
    overflow-y: scroll;
  
}

@media screen and (min-width: 1470px) {
    .videos {
        flex: 0.8; 
    }
}

@media screen and (min-width: 970px) and (max-width:1470px) {
    .videos {
        flex: 0.9; 
    }
    
}




   @media screen  and (max-width:970px) {

    .videos{
        flex: 1;
       }
 }
